@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
}

.section-1 {
  background-color: black;
  height: 100vh;
}

.custom-navbar {
  padding: 80px;
}

.profile {
  background-color: white;
  border-radius: 50px;
  gap: 8px;
  display: flex;
  padding-inline: 16px 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
}

li > a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.search-section {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 1000px;
  padding: 8px 8px 8px 32px;
  align-items: center;
  gap: 32px;
  /* width: 100vw; */
  margin: 10px 0px;
  flex-wrap: wrap;
}

.custom-search {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #de3151;
  color: white;

  display: flex;
}

.search-item {
  display: flex;
  flex-direction: column;
}

.search-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: black;
}
.search-item :last-child {
  border: none;
  background-color: black;
}

.hero {
  display: flex;
  height: 640px;
  padding: 80px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  background: url(https://s3-alpha-sig.figma.com/img/8021/96a6/83d8b4f496c94cf0a33728d8f6e90e4b?Expires=1698019200&Signature=XRATJGKLkQOHOHcmyoytdRJZcJrhBvmxgICawWEO3X-UqhaYLffTWKJ6rrNDjY9suN40lskZCTVDVh7jbsOZTapi3QQ3eIlBlLwq0zpiQxag1kZrZdUJzfOlIhbZUnVHNTt93TgUURtVD4W42e697zYrZBuQ0nABq6t6VK9PEWQdvmNvNKITztYi7-PJSfTOc5MjcbjptLUEjOdCI69rDxV6kdYFcT2Vihdi-WMDE6QOV10CzC0lbrr2LuoHeGkq5MxR3xtLd~1MGBa3YAjRZT5to3wsWoAhv1SKl4DXpyup11eRVD4vSIcGAQKuEsvvbBh2qszjRvrz6UcRTbOzdg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)
    lightgray 0px -209.751px / 100% 133.359% no-repeat;
}

.hero-inner-text {
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.hero-heading {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.hero-button {
  background-color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 24px;
  border-radius: 100px;
  color: transparent;
}

#text-button {
  background: linear-gradient(90deg, #671296 -1.23%, #9e1f83 100.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vertical-line {
  background-color: #e1e3e6;
  width: 1px;
  height: 30px;
}

.section-2 {
  display: flex;
  padding: 96px 80px;
  flex-direction: column;
  align-items: center;
  gap: 96px;
}

.inspiration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.inspiration > h1 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.cities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.city-card {
  border-radius: 8px;
  overflow: hidden;
  /* width: 21vw; */
}

.city-content {
  background-color: #cc2d4a;
  display: flex;
  padding: 24px 16px 96px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: white;
}
.city-content > h1 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}
.city-content > h3 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  height: auto;
}
.experiences-img {
  display: flex;
  align-items: center;
  gap: 24px;
}

.img1 {
  background: url(https://s3-alpha-sig.figma.com/img/3679/a298/196b41cd98272a64e19b9681beb746f0?Expires=1698019200&Signature=MCXwx~F4IIg4LyQa9RU2-iUcPuxoGJr7YXTdLhftlpsDTBv8N-8tUKVvfl8C1zXpXiHkXwLaZFDS0SbfzTYubfzpfFMICHB-2W1xdlwZ5MPf~-u6aSRrjosfqWHPPUzTJtAQ4HfUqysQV~PKbQEK~U-3QSFWhgouZUb9vicaUVFIDcSuXAA2bnGPGIYfc2LcBrtMESl~UJun7ODisnZIMB78hXHentT4iS8-mSF4tYF6NuWj3hjXHERpt5B9mmOk5G688LRx9GMfqyDL148N-vTB3CLUScJYek~nlhgCy1uXMK1gcXOx4QG4TGy9gWko~rA1UIMxjc~nfp7~szol1w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  height: 628px;
  width: 43vw;
  border-radius: 8px;
}

.experiences-img-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
  gap: 24px;
}

.experiences-img-content > h1 {
  color: #fff;
  width: 290px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.experiences-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.experiences-button > h1 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #374151;
  margin: 0;
}

.img2 {
  background: url(https://s3-alpha-sig.figma.com/img/7894/1428/a63173a16c7efe522cab3d32fa5975ee?Expires=1698019200&Signature=j17WpfcJjW5jatPvRA49OUl2dki7ItuP1vcXOr4c-5GVA082UT1NjVQC9wbuWeYYmbz4a3zROG~CqBN8v7nHti7-SsM0s~zJ3QvSWcvXiHWITql2peaASq9K1tdK3ZDzEi226X0QKrTvmcv1VMtWMAtaJ98Q~~2xs9QDR1u3Xswm3XSu1C6~YEcx6wX3bE5BY7BmXCuoP9roOJqFxhgbb48wvCRHOov5PGI05JoIE-w3mBn5HDnJBcL2gDersbfYrkQ31~7ncdyRKhRBm2kIl6Lz92XfpVRJUP31ZjXGvpJaowazLyd2oCqG3jppbNSTT6KdlIH1Uttieyq-KX-M4Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  height: 628px;
  width: 43vw;
  border-radius: 8px;
}

.shop h1 {
  color: var(--black, #000);
  /* text-5xl/Medium */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.shop-card {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.shop div {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--black, #000);
  box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
  color: var(--white, #fff);
  /* text-base/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: fit-content;
}

.shop-img img {
  width: 854.223px;
  height: 320px;
}

.hosting {
  display: flex;
  height: 640px;
  /* padding: 80px; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: url(https://s3-alpha-sig.figma.com/img/5ed8/a779/efd4d7b308f8c6bdd6b801b638cc68d2?Expires=1698019200&Signature=Xkwkmys7h0-2eHZ5XyO2MMw6vxWnhatMzROXAUikcnsNEorffAS3rvGRnerr8Fdno-5ka31EOr47m73-oXmFPmLNptXwd8SeAMut-ZT7KWP~iF2M8f8dRo~7WRjxDerXDxGzuQy0hjW4XMAMnkDiKtbctXbxB0P1nL~JCHuNZm2xpqc9-tvrhWsBLtvCcN25KOvN6nARHX~JA1QDzXU62KyLysutK9ulD6eWc6TPl15WI0rvVBBAcqm2xIVL-BMseq63u~TuhoU05JDiC4XRwGZ17L6nOTvjz5YY7o2lUVkwxhhxvEpJycGXodyNf641vlFGBjJ6d25DisfU~oIcPg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
    lightgray 0px -773.154px / 100% 300% no-repeat;
  background-position: center;
}

.hosting-content {
  display: flex;
  flex-direction: column;
  padding: 80px;
  justify-content: space-between;
  /* gap: 180px; */
  height: 100vh;
}

.hosting-heading {
  color: #fff;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px;
  /* padding-inline: 80px; */
}

#hosting-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 0px solid var(--gray-200, #e5e7eb);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-inline: 80px;
  background-color: #f9fafb;
  padding-top: 64px;
  padding-bottom: 24px;
}

.row {
  gap: 24px;
  margin-bottom: 16px;
}

.row > .heading {
  color: var(--black, #000);
  /* text-base/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.col {
  color: var(--gray-600, #4b5563);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.kicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 80px; */
}

.kicker-first {
  display: flex;
  align-items: center;
  gap: 8px;
}

.kicker-last {
  display: flex;
  gap: 5px;
}

.kicker-last > span {
  align-items: center;
  text-align: center;
}

.pre-footer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: calc(100vw - 160px);
}

.destinations {
  display: flex;
  gap: 24px;
  align-items: center;
  align-self: stretch;

  background: var(--white, #fff);

  /* Border Bottom */
  box-shadow: 0px -1px 0px 0px #f3f4f6 inset;
  margin-bottom: 32px;
}

.des {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.des > h3 {
  color: var(--gray-500, #6b7280);
  /* text-sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

#des-content-active {
  color: var(--black, #000);
  /* text-sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.des-active {
  height: 2px;
  align-self: stretch;
  background: var(--black, #000);
}

.destination-cities {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.destination-city {
  display: flex;
  /* flex-direction: column; */
  gap: 24px;
}

.individual-city {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.individual-city :first-child {
  color: var(--black, #000);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}

.individual-city :last-child {
  color: var(--gray-500, #6b7280);
  /* text-sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  align-self: stretch;
}
